<!DOCTYPE html>
<html>
  <head>
    <title>Sialog - BuilderWeb</title>

     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta name="description" content="">
     <meta name="author" content="">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
  </head>

  <body class="bg-dark">

   <%= yield %>

   <% if alert %>
    <%= javascript_tag "$.notify( { message: '#{alert}'}, { type: 'danger',
   placement: { from: 'down', align: 'center' } } );" %>
   <% end %>

  </body>

</html>
